body{
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.NavBar{
  height: 52px;
  background-image: linear-gradient(87deg, #1c3643, #1e5372);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 14px;
  padding: 0 12px;
}

.Logo,
.logo-1,
.logo-2{
  height: 25px;
}

.content_navbar{
  display: flex;
  align-items: center;
}

.Menu{
  list-style: none;
  display: flex;
  font-weight: 700;
  padding: 2px 12px;
  border-right: 1px solid #fff;
  margin: 0;
  margin-right: 20px;
}
.menu_item{
  padding: 5px 12px 5px 5px;
}
.User{
  display: flex;
  height: 21px;
  margin-right: 15px;
  align-items: center;
}
.user-img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #85c638;
  margin-right: 10px;
}
.points{
  margin: 0;
}
.Bell{
  height: 20px;
  width: 20px;
  margin-right: 15px;
}
.Minisearch{
  display: flex;
  position: relative;
}
.Minisearch [type="text"]{
  font-size: 12px;
  font-weight: 500;
  padding: 8px 0 8px 16px;
  border: solid 1px #dbdbe2;
  border-radius: 5px 0 0 5px;
  width: 230px;
  box-sizing: border-box;
}
.Minisearch [type="button"]{
  background-image: linear-gradient(87deg, #95ca3e, #85c638);
  border: solid 1px #95ca3e;
  border-radius: 0 5px 5px 0;
  height: 33px;
  width: 50px;
}
.Minisearch svg{
  position: absolute;
  top: 10px;
  right: 18px;;
}

/* --toggle arrow-- */
.toggle:checked ~ .message {
  top: 0;
}

.toggle:checked ~ .container {
  margin-top: 250px;
}

.toggle:checked + label {
  background:#dd6149;
}

.toggle:checked + label:after {
  content:"Close"
}
/* --end toggle-- */